<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolateygui" />

  <package id="7zip" />
  <package id="anki" />
  <package id="cmake" />
  <package id="cpu-z" />
  <package id="curl" />
  <package id="docker" />
  <package id="foxitreader" />
  <package id="git" packageParameters="/NoShellIntegration" />
  <package id="jq" />
  <!-- <package id="microsoft-message-analyzer" /> -->
  <package id="pandoc" />
  <package id="procexp" />
  <!-- <package id="sourcetree" /> -->
  <package id="slack" />
  <package id="sqlite" />
  <package id="visualstudiocode" />
  <package id="windirstat" />
  <package id="winmerge" />
  <!-- <package id="wireshark" /> -->
</packages>
