<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolateygui" />

  <package id="7zip" />
  <!-- <package id="anki" /> -->
  <package id="cmake.portable" />
  <package id="cpu-z" />
  <package id="curl" />
  <!-- <package id="docker-for-windows" /> -->
  <package id="foxitreader" />
  <package id="gpg4win" />
  <package id="graphviz" />
  <package id="jq" />
  <package id="jre8" />
  <package id="pandoc" />
  <package id="procexp" />
  <package id="shellcheck" />
  <package id="slack" />
  <package id="sqlite" />
  <package id="windirstat" />
  <package id="winmerge" />

  <!-- Editor -->
  <!-- <package id="notepadplusplus" /> -->
  <package id="vscode" />

  <!-- Git -->
  <package id="git" packageParameters="/NoShellIntegration /NoAutoCrlf" />
  <package id="sourcetree" />

  <!-- Packet Capture
  <package id="microsoft-message-analyzer" />
  <package id="wireshark" />
  -->

  <!-- Remote
  <package id="mousewithoutborders" />
  <package id="winscp" />
  -->

  <!-- Programming Language -->
  <package id="golang" />
  <package id="nodejs-lts" />
  <package id="python" installArguments="InstallAllUsers=1 PrependPath=1" />
 
  <!-- Font-->
  <package id="firacode" />

</packages>
