[alias]
  aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\:\\ /

  unstage = reset -q HEAD --
  nevermind = !git reset --hard HEAD && git clean -d -f
  uncommit = reset --mixed HEAD~

  amend = commit --amend --no-edit
  amend-message = commit --amend

  discard = checkout --
  back = checkout "-"
  new-branch = checkout -b

  b = branch
  branches = branch --all
  current-branch = rev-parse --abbrev-ref HEAD
  rename-branch = branch --move
  delete-branch = branch -D
  recent-branches = branch --all --sort=committerdate
  track = branch --set-upstream-to

  tags = tag
  push-tags = push origin --tags

  remotes = remote -v
  move = mv
  remove = rm
  untrack = rm -r --cached
  rewrite = rebase -i
  patch = add --patch

  pull-upstream = "!f() { git fetch upstream && git merge upstream/master; }; f"

  file-trail = log --follow -p -w
  merge-trail = log --ancestry-path --merges
  log-oneline = log --pretty=format:"%cI|%H|%s" --date=short
  log-summary = log --pretty=format:"[%cd]%H|%s" --date=short --stat

  stashes = stash list
  tuck = stash save
  unstash = stash pop
  untuck = stash pop "stash@{0}"

  co = checkout
  s = status

  d = diff
  dc = diff --cached
  dno = diff --name-only
  unmerged = diff --name-only --diff-filter=U

[advice]
  statusHints = false

[diff]
  compactionHeuristic = true
  indentHeuristic = true
  algorithm = patience

[blame]
  date = relative

[push]
  default = current

[core]
  precomposeunicode = true
  excludesfile = ~/.gitignore_global
  untrackedCache = true

[include]
  path = ~/.gitconfig.private

[merge]
  conflictstyle = diff3

[mailmap]
  file = ~/.mailmap
