# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
